#main_head {
	text-align: center;
}

#main_inform {
	border: 1px black solid;
	width: 100%;
	height : 60%;
}

.form_for_user {
	border: 1px black solid;
	margin-top: 10px;
	padding: 15px;
}
.form-inline {
	margin-top: 1%;
}
#man {
	margin-top: 10%;
}
.starter-template {
	margin-top: 8%;
}

.asd {
	margin-top : 20%;

}
